.cabecalho{
    background-image: url(./img/cao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.conteudo01{
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.conteudo01-img{
    width: 40%;
}

