body{
    background-color:rgb(202, 146, 228);
    color:blueviolet;
}
.cabecalho{
     background:linear-gradient(to right, #cb35df 30%, rgb(134, 66, 212) 30%);
        }

        .cabecalho img{
            text-align: center;
            width: 25%;
        }
        .cabecalho h1{
            margin-left: 50%;
        }