body{
    background-color:rgb(202, 146, 228);
    color:rgb(0, 0, 0);
}
.cabecalho{
     background:linear-gradient(to right, #000000 30%, rgb(134, 66, 212) 30%);
        }

        .cabecalho img{
            text-align: center;
            width: 30%;
        }
        .cabecalho h1{
            margin-left: 50%;
        }